/* ProgressBar.css */
.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3; /* Background color of the progress bar */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4caf50; /* Color of the filled progress */
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


